#page-title {
    font-family: Roboto, sans-serif;
}

::placeholder {
    color: white;
}

.pin-top {
    position: absolute;
    z-index: 1 !important;
}

.pinned {
    position: fixed !important;
    z-index: 1 !important;
    margin-top: 0 !important;
}

.icd-color {
    background: #8CC53F !important;
}

.input-field input[type=text]:focus + label {
    color: #8CC53F !important;
}

.input-field input[type=password]:focus + label {
    color: #8CC53F !important;
}

.input-field input[type=email]:focus + label {
    color: #8CC53F !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #8CC53F !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #8CC53F !important;
    box-shadow: 0 1px 0 0 #8CC53F !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #8CC53F !important;
    box-shadow: 0 1px 0 0 #8CC53F !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #8CC53F !important;
    box-shadow: 0 1px 0 0 #8CC53F !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #8CC53F;
    box-shadow: 0 1px 0 0 #8CC53F;
}

.input-field .prefix.active {
    color: #8CC53F;
}

.input-field .prefix {
    line-height: inherit;
}

#search-bar {
    width: 90%;
    margin: 5em 5% 0;
}

@media only screen and (max-width: 600px) {
    #search-bar {
        width: 100%;
        margin: 12px auto 0;
    }

    #search-bar,
    .input-field,
    #search {
        border-radius: 0 !important;
    }

    #codesForm {
        margin: 1em 0 !important;
    }

    #result {
        margin: 5em 0 3em !important;
    }
}

header,
main,
footer {
    /* COMMENT SIDENAV BAR
    padding-left: 300px;*/
}

body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width: 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}



#search-bar,
.input-field,
#search {
    border-radius: 50px;
    font-size: 125%;
    font-weight: 300;
}


#col {
    display: none;
}

#search {
    border: none !important;
    box-shadow: none !important;
}

.label-icon {
    top: -0.7em !important;
}

#titolo {
    padding: 0 0.5em;
}

#result {
    margin: 1em 0 3em;
}

#preloader {
    display: none;
    padding: 1em;
}

.circle-clipper .circle {
    border-width: 6px !important;
}

.spinner-green-only {
    border-color: #26a69a;
}

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
    display: none;
    margin: 1em 0.5em
}

#codesForm,
#home {
    margin: 1em 6.5%
}

#codesForm label {
    width: 100%;
    height: auto;
    text-indent: -1em;
    padding-left: 3em;
    font-size: 125%;
    font-weight: 300;
    line-height: 2em;
}

#result label,
i {
    transition: background-color 0.3s ease-in-out;
}

#result .selected {
    background-color: #33691e;
    color: white !important;
    border-bottom: 0;
}

p.collapsible-header {
    margin-top: 0;
}

#logo {
    width: 100%;
}

.modal.bottom-sheet {
    border-radius: 15px 15px 0 0 !important;
}

@media only screen and (max-width: 600px) {
    .bottom-sheet {
        max-height: 90% !important;
    }

    .modal-fixed-footer {
        height: 90% !important;
    }
}

.collapsible-body {
    padding: 1em 0.2em;
}

#codeSelected {
    position: fixed;
    right: 15px;
    bottom: 23px;
    margin: 0;
    width: 50%;
    z-index: 996;
}

@media only screen and (min-width: 601px) {
    #codeSelected {
        width: 35%;
    }
}

#codes {
    margin: -3.4em 5%;
    width: 98%;
    border: 0;
    border-radius: 50px;
    padding: 0 1em;
    overflow-x: scroll;
    pointer-events: none;
}

#codesForm i {
    width: 2.5rem;
    height: 2.5rem;
    padding-left: 0.7em;
    line-height: 1.5em;
}

.nAnnidamento {
    line-height: 2em;
}

#codes:focus {
    border-bottom: 0 !important;
    box-shadow: none !important;
}

.userView {
    height: 8em;
    margin: 2em 4em;
}

#nUtente {
    padding-left: 2.3em;
}

#userInfo a,
#languages a {
    padding-left: 4em;
}

#contatti {
    border-radius: 5px;
}

.page-footer {
    padding-top: 0;
}
